.jumbotron{
    background-color: #fc038c;
    color: white;
    font-family: serif;
    font-size: 4em;
    text-shadow: 2px 2px 1px black;

    margin: 0;
    border: 0;
}

a{
    font-size: 1.5rem;
    color: whitesmoke;
}

a:hover{
    color: gray;
}


